<!-- the home/main web page html code -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
    <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->

    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

    <title>KIIT.KP Canteen-Admin Dashboard</title>
</head>

<body>

    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" href="/home">
            <div class="row g-3">

                <div class="col-auto">
                    <img src="../../static/images/favicon.ico" width="50" height="50"
                        class="d-inline-block align-text-top">
                </div>

                <div class="col-auto">
                    <h3>
                        <label>KIIT Canteen</label>
                    </h3>
                </div>

            </div>
        </a>

        <div class="btn-group">

            <button type="button" class="btn btn-outline-primary dropdown-toggle mx-lg-4" 
            data-bs-toggle="dropdown" aria-expanded="false">Nav-Out  </button>

            <ul class="dropdown-menu">

                <li>
                    <a class="dropdown-item" href="/home">S.Dashboard</a>
                </li>

                <li>
                    <a class="dropdown-item" href="/admin/login">Logout</a>
                </li>
                
                <li>
                    <a class="dropdown-item" href="/server_shutdown">Shutdown Server</a>
                </li>

            </ul>

        </div>

    </nav>

    <br><br><br>

    <div class="container">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/text_coloring.css') }}">

        <div class="card">
            <div class="card-body">

                <h2 class="card-title database-title">
                    Database Management 🖥️
                </h2>

                <p class="card-text">
                    <h5>
                        View the database or Edit the data inside it. This card is to work with the database.
                    </h5>
                </p>

                <div class="row g-3">

                    <div class="col-auto">
                        <div class="btn-group">
                            
                            <button type="button" class="btn btn-outline-info dropdown-toggle"
                            data-bs-toggle="dropdown">
                                Database
                            </button>
                            
                            <ul class="dropdown-menu">
                                
                                <li>
                                    <a class="dropdown-item" href="/admin/developer/database/database_file/view/student">
                                        View Data
                                    </a>
                                </li>
                                
                                <li>
                                    <a class="dropdown-item" href="/admin/developer/database/database_file/edit">
                                        Edit Data
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <br>

        <div class="card view-log">
            <div class="card-body">
                <h2 class="card-title log-title">
                    Student Log Viewer 📑
                </h2>

                <p class="card-text">
                    <h5>
                        View the log files of studetns here. 
                        [ Note: This is just a view card, can't change log details. ]
                    </h5>
                </p>

                <div class="row g-3">

                    <div class="col-auto">
                        <a href="/admin/developer/database/logs/view" 
                        class="btn btn-outline-success">View Log</a> <!-- /admin/developer/database/logs/view -->
                    </div>

                </div>

            </div>
        </div>

        <br>

        <div class="card error-check">
            <div class="card-body">
                <h2 class="card-title error-check-title">
                    Website's backend Error(s) 💽
                </h2>

                <p class="card-text">
                    <h5>
                        Any error occurred/occuring in the backend program can be viewed by clicking this button.
                    </h5>
                </p>

                <a href="/admin/developer/backend/error" class="btn btn-outline-warning">Check Error</a>
            </div>
        </div>

        <br>

    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>