<!-- the home/main web page html code -->

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

	<title>KIIT.KP Canteen-Admin Login</title>
</head>

<body>

	<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
		<a class="navbar-brand" href="/home">
			<div class="row g-3">
				<div class="col-auto">
					<img src="../../static/images/favicon.ico" width="50" height="50"
						class="d-inline-block align-text-top">
				</div>
				<div class="col-auto">
					<h3>
						<label>KIIT Canteen</label>
					</h3>
				</div>
			</div>
		</a>

		<div class="btn-group">
			<a type="button" class="btn btn-outline-primary" href="/admin/register">
				<h4>
					Admin Registration
				</h4>
			</a>

			<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
				data-bs-toggle="dropdown" aria-expanded="false">
				<span class="visually-hidden">Toggle Dropdown</span>
			</button>

			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="/home">
						Student Login
					</a>
				</li>
			</ul>
		</div>

	</nav>

	<br><br>

	<div class="container">
		{% if alert_message.__len__() > 0 %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>
					<h3>{{ alert_message }}</h3>
				</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
	</div>

	<br>

	<div class="container home">

		<div class="container" id="student_id">
			<div class="container">

				<br>

				<h1 align="center">
					Admin Identification 💻
				</h1>
			</div>

			<br>

			<div class="container">
				<br><br><br>

				<form class="row g-3" method="post">

					<div class="col-3">
						<label>
							<h3></h3>
						</label>
					</div>

					<div class="col-3">
						<input type="text" class="form-control" name="ssid" placeholder="Admin SSID" required>
					</div>

					<div class="col-3">
						<input type="password" class="form-control" name="pswd" placeholder="Password" required>
					</div>

					<div class="d-grid gap-2 col-6 mx-auto">
						<button type="submit" class="btn btn-primary mb-3">Confirm</button>
					</div>

				</form>
			</div>

			<h5 align="center">
				<a class="link-danger mb-3" href="/admin/login/password-reset/verification">
					Forgor Password?
				</a>
			</h5>

			<h1 class="mb-3">
				<label></label>
			</h1>

		</div>

	</div>

	<link rel="stylesheet" href="../../static/css/padding.css">
	<a class="btn btn-link afdb" href="/CFC/feedback">
		<div class="row g-3">

			<div class="col-auto">
				<img class="img-fluid" src="../../static/images/feedback.png" 
				style="width: 1cm; height: 1cm">
			</div>

			<div class="col-auto" style="margin-top: 10%">
				<h4>Feedback</h4>
			</div>
		</div>
	</a>

	<!-- Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>

</body>


</html>