<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
    <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->

    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

    <title>CFC•Authentication</title>
</head>

<body>
    <br>

    <h2 align="center">
        <font color="#3096ee">
            <pre>{{ web_page_msg }}</pre>
        </font>
    </h2>

    <div class="container">
		{% if error.__len__() > 0 %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>
					<h3>{{ error }}</h3>
				</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
	</div>

    <br>

    <div class="container">
        <div class="card">
            <br>

            <pre align="center">
<img src="../../static/auth/bunny512.jpg" alt="Google Authenticator QR Code" width="500" height="400" />
            </pre>

            <form class="card-body" method="post">
                <div class="row g-1">

                    <div class="col-5">
                        <label></label>
                    </div>

                    <div class="col-auto">
                        <input type="password" class="form-control" 
                        placeholder="Google Auth Code" name="gAuth">
                    </div>

                </div>

                <div class="d-grid gap-2 col-2 mx-auto">
                    <button class="btn btn-primary my-2" type="submit">SUBMIT</button>
                </div>
            </form>

        </div>
    </div>

    <br>

    <div class="container">
        <h5 align="center" style="font-family: cursive; font-style: oblique;">
            <a class="link-info" href="/admin/login/authentication-AppInstall">
                Don't have Google Authenticator?
            </a>
        </h5>
    </div>

</body>

</html>