.pay-title {
    color: rgb(21, 141, 21);
}

.update-title {
    color: rgba(161, 161, 26, 0.781);
}

.check-title {
    color: rgb(99, 222, 233);
}


.database-title {
    color: rgb(99, 222, 233);
}

.log-title {
    color: rgb(21, 141, 21);
}

.error-check-title {
    color: rgba(161, 161, 26, 0.781);
}