<!-- id registration web page html code -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

    <title>CFC•Register</title>
</head>

<body>

    <nav id="navbar-example2" class="navbar navbar-dark bg-light px-3">
        <a class="navbar-brand" href="{{ url_for('student.index' ) }}">
            <div class="row g-3">
                <div class="col-auto">
                    <img src="../../static/images/favicon.ico" width="50" height="50"
                        class="d-inline-block align-text-top">
                </div>
                <div class="col-auto">
                    <h3>
                        <label>KIIT Canteen</label>
                    </h3>
                </div>
            </div>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="{{ url_for('student.index' ) }}">
                    <h4>Home</h4>
                </a>
            </li>
        </ul>
    </nav>

    <br>

    <div class="container">
        {% if alert_message.__len__() > 0 %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                    <h3>{{ alert_message }}</h3>
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>

    <div class="container home">
        <div class="container">

            <form method="post">
                <div class="mb-3 mt-5">

                    <label class="text-body">
                        <b>
                            <h5>Student Name</h5>
                        </b>
                    </label>

                    <input type="text" class="form-control" 
                    name='std_name' placeholder="Your Full Name" required>
                </div>

                <div class="mb-3 mt-5">
                    <label class="text-body">
                        <b>
                            <h5>Personal Email-ID</h5>
                        </b>
                    </label>

                    <input type="email" class="form-control" name='email' 
                    placeholder="xyz@example.com" aria-label="Email ID" 
                    aria-describedby="addon-wrapping" required>
                </div>

                <div class="mb-3 mt-5">
                    <label class="text-body">
                        <b>
                            <h5>Canteen Account Details</h5>
                        </b>
                    </label>

                    <div class="row g-3">

                        <div class="col-auto">
                            <label class="text-body">
                                <b>
                                    <h5>•Pin Code</h5>
                                </b>
                            </label>
                        </div>

                        <div class="col-3">
                            <input type="password" class="form-control" name='pin_code'
                                placeholder="Create new Pin-code (min 4 charecters)" 
                                aria-label="Password" aria-describedby="addon-wrapping" required>
                        </div>

                        <div class="col-3">
                            <input type="password" class="form-control" name='pin_code'
                                placeholder="Create new Pin-code (min 4 charecters)" 
                                aria-label="Password" aria-describedby="addon-wrapping" required>
                        </div>
                    </div>

                    <br>

                    <div class="row g-">

                        <div class="col-auto">
                            <label class="text-body">
                                <b>
                                    <h5>•Roll No.</h5>
                                </b>
                            </label>
                        </div>

                        <div class="col-3">
                            <input type="text" class="form-control" name='std_roll_no'
                                placeholder="your college ID/Roll No." aria-label="Student ID"
                                aria-describedby="addon-wrapping" required>
                        </div>

                        <div class="vr" style="padding: 0.1%; height: 1cm;"></div>

                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text">₹</span>
                                <input type="text" class="form-control" name="initial_amount"
                                    placeholder="Enter Initial/Opening Amount" required>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mb-3 mt-2">

                    <label class="text-body">
                        <b>
                            <h4>Account Activation</h4>
                        </b>
                    </label>

                    <div class="row g-3">

                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text">🔑</span>
                                <input type="password" class="form-control" name="master_product_key"
                                    placeholder="Master Product Key" required>
                            </div>
                        </div>

                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>


</html>